@page "/isolated-style-demonstration"

<h3>IsolatedStyleComponentDemonstration</h3>

<span>The following component is isolated:</span>
<IsolatedStyleComponent></IsolatedStyleComponent>

<div class="overriding">
    <span>The following component is isolated but overrided:</span>
    <IsolatedStyleComponent></IsolatedStyleComponent>
</div>