<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">StylingComponent</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="isolated-style-demonstration">
                <span class="oi oi-infinity" aria-hidden="true"></span> Isolated Style
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="global-css-style">
                <span class="oi oi-infinity" aria-hidden="true"></span> Global Style
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="style-priority">
                <span class="oi oi-infinity" aria-hidden="true"></span> Style Priority
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="embedded-style">
                <span class="oi oi-infinity" aria-hidden="true"></span> Embedded Style
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="external-style">
                <span class="oi oi-infinity" aria-hidden="true"></span> External Style
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
